* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html { font-size: 62.5%; } 
body { font-size: 1.4rem; } /* =14rem */
h1   { font-size: 2.4rem; } /* =24rem */

body {font-family: lato;}

@font-face {
	font-family: 'ubuntu';
	src: url('../fonts/Ubuntu-Regular.ttf') format('truetype');

	font-family: 'old-standars';
	src: url('../fonts/OldStandard-Regular.ttf') format('truetype');

	font-family: 'lato';
	src: url('../fonts/Lato-Light.ttf') format('truetype');
}

a {text-decoration: none;}

em {font-weight: bold;}

button {
	font-family: lato;
	border: 0;
	color: rgba(253, 254, 255, 0.98);
	font-size: 1.6rem;
	padding: 1.5rem 3.0rem;
	border-radius: 0.3rem;
}

.carrousel:before{
	content: '';
	display: inline-block;
	width: 0.1rem;
	height: 100%;
	vertical-align: middle;
}

.buttn-paddng {padding-top: 0.2rem;}

.carrousel h2 {
	font-size: 2.9rem;
	text-align: left;
	font-weight: bold;
	text-indent: 2rem;
	color: rgba(245, 245, 245, 0.85);
}

.carrousel p{
	text-align: left;
	color: rgba(228, 231, 233, 0.59);
	margin-left: 2rem;
	font-size: 1.8rem;
	font-weight: bold;
	line-height: 1.37;
}

.cr-cntr-sctn {
	display: inline-block;
	vertical-align: middle;
	font-family: lato;
}

.cr-cntr-scrn {line-height: 3.5;}
.absolute {position: absolute;}
.w360 {width: 41%;}
.w400 {width: 40%;}
.txt-algn-cntr {text-align: center;}
.mrgn-auto {margin: 0 auto;}
.btn-actn-1 {background-color: #ED9A15;}
.btn-actn-2 {background-color: #3F3C85;}
.frst-hd {text-align: left;}

.see-more {
	font-size: 0.8rem;
	text-decoration: none;
}

.section-subt {
	padding-bottom: 0.6rem;
	font-family: verdana;
	font-size: 1.8rem;
}

.main-nav-text {
	font-family: Verdana;
	font-size: 1.6rem;
	color: grey;
}

.float-rght {float: right;}
.float-lft {float: left;}

.cl:after {
	content: '';
	display: block;
	clear: both;
}

.hdr-brand {
	display: inline-block;
	vertical-align: bottom;
	margin-right: 1.5rem;	
}	

.header-cent {
	max-width: 100rem;
	margin: 0 auto;
	padding-top: 0.8rem;
	padding-bottom: 1.4rem;
}
	.main-nav {
		width: 60%;
		margin: 0;
	}
	.main-nav ul {
		display: inline-block;
	}
	.search {
		width: 24%;
	}

.search-input {
	padding-top: 1rem;
	border-radius: 0.5rem;
}

.search-div {padding-top: 1.5rem;}
.unfold {position: relative;}

.unfold:after {
	border: 0.6rem solid transparent;
	border-top: 0.8rem solid black;
	content: "";
	position: absolute;
	right: -2rem;
	top: 0.3rem;
}

.main-nav-inl-lst {padding-bottom: 0.7rem;}

.main-nav-inl-lst > li {
	display: inline-block;
	vertical-align: bottom;
	margin: 0.4rem;
	padding-left: 1rem;
}

.main-nav-inl-lst li {
	border-left: 0.1rem solid #999;
	font-family: Verdana;
	display: inline-block;
}

.inl-lst li {
	display: inline-block;
	vertical-align: bottom;
	margin: 0.4rem;
}

	.carrousel {
		background-color: black;
		position: relative;
		height: 40rem;
		text-align: center;
		background: url(../images/seven.jpg) no-repeat;
		background-size: cover;
		background-position: center center;
	}

		.cntr {
			position: absolute;
			width: 50%;
		}
	
	.cr-nav {
		position: absolute;
		right: 0;
		left: 0;
		bottom: 0.9rem;
		text-align: center;
		color: white;
	}

	.cr-nav a {margin-right: 0.8rem;}

	.cr-nav li{
		display: inline-block;
		text-indent: -9000rem;
		width: 1.5rem;
		color: white;
		padding: 0.9rem;
	}

	.cr-nav a{
		border-radius: 50%;
		background-color: rgba(230, 224, 224, 1);
	}

	.cr-pre {
		text-indent: -900rem;
		opacity: 0.3;
		position: absolute;
		left: 0;
		bottom: 0;
		top: 0;
		width: 13%;
		background-color: yellow;
		background: url(../images/pre.png) center center no-repeat;
	}

	.cr-next {
		text-indent: -900rem;
		opacity: 0.3;
		position: absolute;
		right: 0;
		bottom: 0;
		top: 0;
		width: 13%;
		background: url(../images/next.png) center center no-repeat;
	}

.share {
	background-color: #DBDBDB;
	color: black;
	border-radius: 0.4rem;
	margin-top: 3rem;
	width: 100%;
}

	.share img{
		width: 100%;
		height: 100%;
	}

	.share header {padding: 1.6rem 0 0 1.4rem;}

	.share ul {padding: 1rem 0 1.2rem 1.2rem;}

.mid{
	max-width: 100rem;
	margin: 3rem auto;
}

	.mid-lft{
		width: 64%;
		float: left;
	}

		.pics {margin-bottom: 2rem;}

		.thmb-li {
			width: 22.1%;
			display: inline-block;
			vertical-align: bottom;
			margin-right: 2rem;
		}

		.no-rght-mrgn {margin-right: 0;}

		.thmb-li img{
			width: 100%;
			border-radius: 4rem;
		}

		.news {margin-top: 2rem;}

		.h1-news-module {
			font-family: verdana;
			font-size: 2rem;
			margin-top: 1.5rem;
			padding: 0 0 1rem 0.5rem;
			border-bottom: 0.1rem solid #E7E7E7;

		} 

		.cell-text {display: table;}

		.cnt-section {
			padding-top: 1.2rem;
			padding-left: 0.5rem;
		}

		.section-pic {
			width: 53%;
			padding-right: 1.2rem;
		}

		.section-pic img{
			width: 100%;
			border-radius: 0.4rem;
			height: 15%;
		}

		.nws-asd {
			border-top: 0.1rem dashed #DEDEDE;
			border-bottom: 0.1rem dashed #DEDEDE;
			margin-top: 1.5rem;
			padding-left: 2.6rem;
			}

			.nws-asd-spc1 {
				height: 1.5rem;
				width: 100%;
			}

			.nws-asd-li1 {
				display: inline-block;
				width: 48%;
				padding-right: 5rem;
				border-right: 0.1rem dashed #DEDEDE;
			}

			.nws-asd-li2 {
				display: inline-block;
				width: 48%;
				padding-left: 5rem;
				margin-left: -0.4rem;
			}

			.nws-asd-spc2 {
				height: 1.5rem;
				width: 100%;
			}
		

.mid-asd {
	width: 30%;
	float: right;
}

	.section-headers {
		font-size: 2rem;
		font-family: Verdana;
		padding-bottom: 1.2rem;
		border-bottom: 0.1rem solid #D5D3D3;
	}

	.section-headers h1 {
		padding-right: 49%;
		display: inline-block;
		vertical-align: middle;
	}

		.tp-mvs-seemore {
			display: inline-block;
			vertical-align: middle;
			font-size: 0.9rem;
		}

		.tp-mvs-seemore a{
			color: #A4B1E7;
		}

	.table-1 {
		margin-top: 1rem;
		width: 100%;
	}
		.tr-w-brdr {
			border-bottom: 0.1rem solid #EEEEEE;
		}

		.table-1 tr:first-child td {
			font-weight: bold;
		}

		.table-1 td:first-child {
			text-align: left;
		}

		.table-1 td {
			padding-top: 0.6rem;
			padding-bottom: 0.5rem;
			height: 2.2rem;
			text-align: right;
		}

		.lst-tr {
			border-bottom: 0.1rem solid white;
		}

	.top-movies-2 {
		color: black;
		margin-top: 1.5rem;
		margin-top: 4rem;
	}

	.top-movies-2 header {
		border-bottom: 0.1rem solid #D5D3D3;
	}
	
	.tab1 {
		padding: 1rem 0.8rem 0.8rem 0.7rem;
		display: inline-block;
		border-top: 0.2rem solid #EEEEEE;
		border-right: 0.2rem solid #EEEEEE;
		border-left: 0.2rem solid #EEEEEE;
		border-bottom: 0.2rem solid white;
		border-top-left-radius: 0.4rem;
		border-top-right-radius: 0.4rem;
	}

	.tab2 {
		margin-left: -0.6rem;
		padding: 0.8rem 0.8rem 0.8rem 0.7rem;
		display: inline-block;
		border-top: 0.2rem solid #EEEEEE;
		border-right: 0.2rem solid #EEEEEE;
		border-top-left-radius: 0.4rem;
		border-top-right-radius: 0.4rem;
	}

	.tab-space {
		background-color: yellow;
		display: inline-block;
		border-bottom: 1rem solid #D5D3D3;
	}

.asd {
	display: block;
	max-width: 1000rem;
	margin: 20rem auto;
}

.bfr-foot {
	background-color: #E8E8E8;
	padding: 0 1.5rem 2.5rem 1.5rem;
	width: 95%;
	margin: auto;
	margin-bottom: 2rem;
	border-radius: 0.4rem;
}

	.bfr-foot li {
		display: inline-block;
		margin: 2.6rem 3.8rem 0 3.3rem;
		padding: 0 0 0 1.2rem;
		width: 27%;
	}

	.avtr {
		vertical-align: middle;
		display: inline-block;
		border-radius: 50%;
	}

.avtr-data {
	display: inline-block;
	vertical-align: middle;
	width: 60%;
}

.percent {
	font-size: 1.6rem;
}

.tuit {
	font-family: Verdana;
	font-size: 0.8rem;
}

.prgrss-br-out {
	display: inline-block;
	background-color: white;
	border-radius: 0.4rem;
	height: 1.3rem;
	width: 100%;
}

.prgrss-br-in{
	background-color: #46AFE8;
	border-radius: 0.4rem;
	height: 1.3rem;
	width: 46%;
}

.foot-cent {
	padding: 2rem;
	background-color: black;
	width: 100%;
}
	.foot-cent-nav {
		display: inline-block;
		width: 60%;
	}

	.ftr-img {
		display: inline-block;
		padding-right: 9rem;
		border-right: 0.1rem solid white;
		vertical-align: middle;
	}

	.foot-cent-div {
		text-align: right;
		display: inline-block;
		width: 60%;
	}


	.foot-cent-nav {
		display: inline-block;
		vertical-align: middle;
	}

	.foot-cent-nav ul {
		text-align: center;
		margin: 0 auto;
	}

	.foot-cent li {
		display: inline-block;
		color: white;
		padding: 0 2.9rem;
	}

	.li-w-brdr {
		border-right: 0.1rem solid #DEDEDE;
	}

	.foot-cent-nav a {
		color: #DEDEDE;
	}