* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: lato;
}

@font-face {
	font-family: 'ubuntu';
	src: url('../fonts/Ubuntu-Regular.ttf') format('truetype');

	font-family: 'old-standars';
	src: url('../fonts/OldStandard-Regular.ttf') format('truetype');

	font-family: 'lato';
	src: url('../fonts/Lato-Light.ttf') format('truetype');
}

a {
	text-decoration: none;
}

em {
	font-weight: bold;
}

button {
	font-family: lato;
	border: 0;
	color: rgba(253, 254, 255, 0.98);
	font-size: 16px;
	padding: 15px 30px;
	border-radius: 3px;
}

.carrousel:before{
	content: '';
	display: inline-block;
	width: 1px;
	height: 100%;
	vertical-align: middle;
}

.buttn-paddng {
	padding-top: 20px;
}

.carrousel h2 {
	font-size: 29px;
	text-align: left;
	font-weight: bold;
	text-indent: 20px;
	color: rgba(245, 245, 245, 0.85);
}
.carrousel p{
	text-align: left;
	color: rgba(228, 231, 233, 0.59);
	margin-left: 20px;
	font-size: 18px;
	font-weight: bold;
	line-height: 1.37;
}

.cr-cntr-sctn {
	display: inline-block;
	vertical-align: middle;
	font-family: lato;
}

.cr-cntr-scrn {
	line-height: 3.5;
}

.absolute {
	position: absolute;
}

.w360 {
	width: 41%;
}

.w400 {
	width: 40%;
}

.txt-algn-cntr {
	text-align: center;
}
.mrgn-auto {
	margin: 0 auto;
}

.btn-actn-1 {
	background-color: #ED9A15;
}

.btn-actn-2 {
	background-color: #3F3C85;
}


.frst-hd {
	text-align: left;

}

.see-more {
	font-size: 8px;
	text-decoration: none;
}

.section-subt {
	padding-bottom: 6px;
	font-family: verdana;
	font-size: 18px;
}

.main-nav-text {
	font-family: Verdana;
	font-size: 16px;
	color: grey;
}

.float-rght {
	float: right;
}

.float-lft {
	float: left;
}

.cl:after {
	content: '';
	display: block;
		clear: both;

}

.hdr-brand {
	display: inline-block;
	vertical-align: bottom;
	margin-right: 15px;	
}	

.header-cent {
		max-width: 1000px;
		margin: 0 auto;
		padding-top: 8px;
		padding-bottom: 14px;
	}
		.main-nav {
			width: 60%;
			margin: 0;
		}

		.main-nav ul {
			display: inline-block;

		}

		.search {
			width: 24%;

		}

.search-input {
	padding-top: 10px;
	border-radius: 5px;
}

.search-div {
	padding-top: 15px;
}
.unfold {
	position: relative;
}
.unfold:after {
	border: 6px solid transparent;
	border-top: 8px solid black;
	content: "";
	position: absolute;
	right: -20px;
	top: 3px;
}

.main-nav-inl-lst {
	padding-bottom: 7px;
}

.main-nav-inl-lst > li {
	display: inline-block;
	vertical-align: bottom;
	margin: 4px;
	padding-left: 10px;
}

.main-nav-inl-lst li {
	border-left: 1px solid #999;
	font-family: Verdana;
	display: inline-block;
}

.inl-lst li {
	display: inline-block;
	vertical-align: bottom;
	margin: 4px;
}

	.carrousel {
		background-color: black;
		position: relative;
		height: 400px;
		text-align: center;
		background: url(../images/seven.jpg) no-repeat;
		background-size: cover;
		background-position: center center;
	}

		.cntr {
			position: absolute;
			width: 50%;
		}
	
	.cr-nav {
		position: absolute;
		right: 0;
		left: 0;
		bottom: 9px;
		text-align: center;
		color: white;
	}

	.cr-nav a {
		margin-right: 8px;
	}

	.cr-nav li{
		display: inline-block;
		text-indent: -9000px;
		width: 15px;
		color: white;
		padding: 9px;
	}

	.cr-nav a{
		border-radius: 50%;
		background-color: rgba(230, 224, 224, 1);
	}

	.cr-pre {
		text-indent: -9000px;
		opacity: 0.3;
		position: absolute;
		left: 0;
		bottom: 0;
		top: 0;
		width: 13%;
		background-color: yellow;
		background: url(../images/pre.png) center center no-repeat;

	}

	.cr-next {
		text-indent: -9000px;
		opacity: 0.3;
		position: absolute;
		right: 0;
		bottom: 0;
		top: 0;
		width: 13%;
		background: url(../images/next.png) center center no-repeat;
	}

.share {
	background-color: #DBDBDB;
	color: black;
	border-radius: 4px;
	margin-top: 30px;
	width: 100%;
}

	.share img{
		width: 100%;
		height: 100%;
	}

	.share header {
		padding: 16px 0 0 14px;
	}

	.share ul {
		padding: 10px 0 12px 12px;
	}

.mid{
	max-width: 1000px;
	margin: 30px auto;
}

	.mid-lft{
		width: 64%;
		float: left;
	}

		.pics {
			margin-bottom: 20px;

		}
		.thmb-li {
			width: 22.1%;
			display: inline-block;
			vertical-align: bottom;
			margin-right: 20px;
		}

		.no-rght-mrgn {
			margin-right: 0;
		}
		.thmb-li img{
			width: 100%;
			border-radius: 4px;
		}

		.news {
			margin-top: 20px;
		}

		.h1-news-module {
			font-family: verdana;
			font-size: 20px;
			margin-top: 15px;
			padding: 0 0 10px 5px;
			border-bottom: 1px solid #E7E7E7;

		} 

		.cell-text {
			display: table;
		}

		.cnt-section {
			padding-top: 12px;
			padding-left: 5px;
		}

		.section-pic {
			width: 53%;
			padding-right: 12px;
		}

		.section-pic img{
			width: 100%;
			border-radius: 4px;
			height: 15%;
		}

		.nws-asd {
			border-top: 1px dashed #DEDEDE;
			border-bottom: 1px dashed #DEDEDE;
			margin-top: 15px;
			padding-left: 26px;
			}

			.nws-asd-spc1 {
				height: 15px;
				width: 100%;
			}

			.nws-asd-li1 {
				display: inline-block;
				width: 48%;
				padding-right: 50px;
				border-right: 1px dashed #DEDEDE;
			}

			.nws-asd-li2 {
				display: inline-block;
				width: 48%;
				padding-left: 50px;
				margin-left: -4px;
			}

			.nws-asd-spc2 {
				height: 15px;
				width: 100%;
			}
		

.mid-asd {
	width: 30%;
	float: right;
}

	.section-headers {
		font-size: 20px;
		font-family: Verdana;
		padding-bottom: 12px;
		border-bottom: 1px solid #D5D3D3;
	}

	.section-headers h1 {
		padding-right: 49%;
		display: inline-block;
		vertical-align: middle;
	}

		.tp-mvs-seemore {
			display: inline-block;
			vertical-align: middle;
			font-size: 9px;
		}

		.tp-mvs-seemore a{
			color: #A4B1E7;
		}

	.table-1 {
		margin-top: 10px;
		width: 100%;
	}
		.tr-w-brdr {
			border-bottom: 1px solid #EEEEEE;
		}

		.table-1 tr:first-child td {
			font-weight: bold;
		}

		.table-1 td:first-child {
			text-align: left;
		}

		.table-1 td {
			padding-top: 6px;
			padding-bottom: 5px;
			height: 22px;
			text-align: right;
		}

		.lst-tr {
			border-bottom: 1px solid white;
		}

	.top-movies-2 {
		color: black;
		margin-top: 15px;
		margin-top: 40px;
	}

	.top-movies-2 header {
		border-bottom: 1px solid #D5D3D3;
	}
	
	.tab1 {
		padding: 10px 8px 8px 7px;
		display: inline-block;
		border-top: 2px solid #EEEEEE;
		border-right: 2px solid #EEEEEE;
		border-left: 2px solid #EEEEEE;
		border-bottom: 2px solid white;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
	}

	.tab2 {
		margin-left: -6px;
		padding: 8px 8px 8px 7px;
		display: inline-block;
		border-top: 2px solid #EEEEEE;
		border-right: 2px solid #EEEEEE;
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
	}

	.tab-space {
		background-color: yellow;
		display: inline-block;
		border-bottom: 1px solid #D5D3D3;
	}

.asd {
	display: block;
	max-width: 1000px;
	margin: 20px auto;
}

.bfr-foot {
	background-color: #E8E8E8;
	padding: 0 15px 25px 15px;
	width: 95%;
	margin: auto;
	margin-bottom: 20px;
	border-radius: 4px;
}

	.bfr-foot li {
		display: inline-block;
		margin: 26px 38px 0 33px;
		padding: 0 0px 0 12px;
		width: 27%;
	}

	.avtr {
		vertical-align: middle;
		display: inline-block;
		border-radius: 50%;
	}

.avtr-data {
	display: inline-block;
	vertical-align: middle;
	width: 60%;
}

.percent {
	font-size: 16px;
}

.tuit {
	font-family: Verdana;
	font-size: 8px;
}

.prgrss-br-out {
	display: inline-block;
	background-color: white;
	border-radius: 4px;
	height: 13px;
	width: 100%;
}

.prgrss-br-in{
	background-color: #46AFE8;
	border-radius: 4px;
	height: 13px;
	width: 46%;
}

.foot-cent {
	padding: 20px;
	background-color: black;
	width: 100%;
}
	.foot-cent-nav {
		display: inline-block;
		width: 60%;
	}

	.ftr-img {
		display: inline-block;
		padding-right: 90px;
		border-right: 1px solid white;
		vertical-align: middle;
	}

	.foot-cent-div {
		text-align: right;
		display: inline-block;
		width: 60%;
	}


	.foot-cent-nav {
		display: inline-block;
		vertical-align: middle;
	}

	.foot-cent-nav ul {
		text-align: center;
		margin: 0 auto;
	}

	.foot-cent li {
		display: inline-block;
		color: white;
		padding: 0 29px;
	}

	.li-w-brdr {
		border-right: 1px solid #DEDEDE;
	}

	.foot-cent-nav a {
		color: #DEDEDE;
	}